<html class="no-js" lang="en">
<head>
    <link rel="icon" type="image/png" href="/i/cheer-icon.png"/>
    <meta charset="utf-8">
    <title>T8K.IN (Taken)</title>
    <meta name="description" content="Taken: Stop creating disposable documentation.">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
    <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("742fe18b072e674cb9002a808b7a56be");</script><!-- end Mixpanel -->
</head>

<body>
<header class="navbar navbar-fixed-top bs-docs-nav navbar-inverse" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">t8k.in</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-inverse" role="navigation">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="pull-right"><a href="#about">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#login">Login</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<section id="intro" data-speed="6" data-type="background">
    <div class="container">
        <div class="hero-unit">
            <h2>enhancing engagement of our audience</h2>
            <p>revolutionizing how we give to charity</p>
        </div>
    </div>
</section>

<section id="home" data-speed="4" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-4 well">
                <h2>Green<span class="glyphicon glyphicon-tree-conifer pull-right"></span></h2>

                <p>Ever wonder what happened to all the programs left behind at the last event? How often do the ones
                    taken home
                    survive more than a day before going into the recycle/garbage bin? Require less printed copies at
                    the event!</p>
            </div>
            <div class="col-md-4 well">
                <h2>Handy<span class="glyphicon glyphicon-phone pull-right"></span></h2>

                <p>Scan & View on your Smart device. Never run out of programs. No more leaving the program behind.
                    Searchable content. Distribute & Read the program ahead of time.</p>
            </div>
            <div class="col-md-4 well">
                <h2>Give<span class="glyphicon glyphicon-heart-empty pull-right"></span></h2>

                <p>Using this service directly supports worthy charities.</p>
            </div>
        </div>
    </div>
</section>

<section id="about" data-speed="2" data-type="background">
    <div class="container">
        <div class="page-header">
            <h1>What do we do?
                <small>reduce waste associated with disposable docs at events... and support charities!</small>
            </h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>More Details</h2>

                <p>Together we will increase engagement at events while reducing costs and the creation of waste</p>

                <p>We are still in the idea generation phase. We are working towards building out the team to make this
                    a reality
                    and start helping real charities.</p>

                <p>If you are at all interested in helping out please contact us at info@t8k.in</p>

                <p>We need your help</p>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h2>Log In</h2>

                <form id="login" class="form">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Email</label>

                        <div class="controls">
                            <input type="text" id="inputEmail" placeholder="Email" disabled="disabled">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Password</label>

                        <div class="controls">
                            <input type="password" id="inputPassword" placeholder="Password" disabled="disabled">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" disabled="disabled"> Remember me <br><br>
                            </label>

                            <button type="submit" class="btn btn-success" disabled="disabled">Coming Next
                                Phase &raquo;</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container text-center">
        <a href="mailto:info@t8k.in" style="vertical-align: top; margin-right: 20px"><span
                style="vertical-align: top; margin-right: 3px" class="glyphicon glyphicon-envelope"></span>Info</a>
        <a href="https://twitter.com/ist8kin" class="twitter-follow-button" data-show-count="false">Follow @ist8kin</a>
        <script>!function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');</script>
    </div>
    <div class="text-center">
        <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
    </div>
    <div class="text-center" style="font-size: 4px">c::{{count}}</div>
</section>
<script>
    mixpanel.track("Home page load");
</script>
<script src="/js/tracking.js"></script>
</body>
</html>